body {
  background-color: rgb(13, 20, 35);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li a {
  font-family: 'DM Sans' !important;
  letter-spacing: 1px;
}

.sidebar {
  background-color: rgb(13, 20, 35);
}

.groups::-webkit-scrollbar {
  width: 0.5rem;
}

.groups::-webkit-scrollbar-track {
  background-color: rgb(6, 18, 28);
}

.groups::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
  border-radius: 10rem;
}

.chat::-webkit-scrollbar {
  width: 0.5rem;
}

.chat::-webkit-scrollbar-track {
  background-color: rgb(6, 18, 28);
  margin-left: 10rem;
}

.chat::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
  border-radius: 10rem;
}
